@inherits LayoutComponentBase

<PageTitle><h1>BucHelp</h1></PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!--Add the profile link/icon here, it will be persisted across all pages in the NavLink-->
            <!--Brandon: Doing that -->
            <NavLink class="nav-link" href="profile">
                <span class="oi oi-person" aria-hidden="true"></span>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
