@page "/"
@namespace BucHelp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />


<body>
    <script src="/JS/example.js"></script>
</body>
