@page "/faq"

<PageTitle>Frequently Asked Question</PageTitle>

<h3>Frequently Asked Questions</h3>

@code {
    Data.FAQ[] list;
    protected override async Task OnInitializedAsync()
    {
        list = await DatabaseServices.MicroserviceServices.GetFAQAsync();
    }
}

@if (list != null) {
    foreach (Data.FAQ f in list)
    {
        <b>Q: @f.Question</b><br />
        <p>A: @f.Answer</p>
        <br /><br />
    }
}
else
{
    <p>Please wait...</p>
}

<!--
<p>
<b>Q: How do I pay for college if I am an in-state, dependent student?</b><br>
    A: You can pay for college through a variety of grants, scholarships, loans or student work programs. Additionally, you may be eligible for veteran’s & disability benefits or for fee discounts.<br><br />

<b>Q: How do I pay for college if I am a graduate student?</b><br>
    A: As a graduate student your first stop in seeking financial aid should be the department you have been accepted into. Your graduate advisor may have information regarding department specific Graduate Assistant positions, research assistantships, grants, and scholarships.<br><br />

﻿
<b>Q: How do I pay for college if I am an in-state, dependent student?</b><br>
    A: You can pay for college through a variety of grants, scholarships, loans or student work programs. Additionally, you may be eligible for veteran’s & disability benefits or for fee discounts.<br><br />

<b>Q: How do I pay for college if I am a graduate student?</b><br>
A: As a graduate student your first stop in seeking financial aid should be the department you have been accepted into. Your graduate advisor may have information regarding department specific Graduate Assistant positions, research assistantships, grants, and scholarships.

    If you are unable to secure enough aid through your department you should consult the Paying for Graduate School webpage for more sources of aid available to you outside of your department.<br><br />

<b>Q: When will I know how much my final tuition and fees are, and how do I find them?</b><br>
    A: You will be able to see your actual charges on GoldLink by viewing your student account after mid-July of every year and after you have registered for classes.<br><br />

<b>Q: I transferred to another college/university, but they said I can't get financial aid until you cancel it at etsu. What do I need to do?</b><br>
    A: Send a written request by Email, fax, or in person to the ETSU Office of Financial Aid requesting your aid be cancelled for the semester. Be sure to include your name, ETSU E#, semester and/or academic year, date, and signature. Let us know if you would like us to send notification by fax or email to the other college/university along with their contact information.<br><br />

<b>Q: I can't pay my fees now. Is there any other way you can help me?</b><br>
    A: If you need money for books, you may apply for a University Emergency Loan up to $500 through the Office of Financial Aid. You may access the University Emergency Loan policy, application, and promissory note on the Bursar Office website.<br><br />

<b>Q: What is a William D. Ford Stafford Loan?</b><br>
    A: The Direct Stafford Loan is a federally funded loan program with a yearly fixed interest rate.<br><br />

<b>Q: What is the difference between subsidized and unsubsidized loans?</b><br>
    A: Subsidized means that no interest accrues until the loan goes into repayment, usually six months after you graduate or when you reduce your enrollment to less than half-time.<br><br />

    Unsubsidized means that the interest accrues from the day the loan is disbursed. The interest can be paid monthly, quarterly, or you may let it accumulate and be capitalized when the loan goes into repayment.<br><br />

<b>Q: What is a master promissory note?</b><br>
    A: A Master Promissory Note (MPN) is available to first-time borrowers under the William D. Ford Federal Direct Stafford Loan and Federal Perkins Loan  programs. The nature of an MPN is that you sign a single promissory note for each type of loan that you borrow (rather than signing a new note for each loan amount as with a regular promissory note). The MPN allows you to receive multiple disbursements through the same loan program over a maximum ten-year period. Each year, you will receive a disclosure statement from your lender showing the amount of each loan and any additional terms of each loan.<br><br />

<b>Q: When do I have to start paying back the loans?</b><br>
    A: Your loans go into repayment when your grace period ends after you graduate or when you reduce your enrollment to less than half-time. The Perkins loan has a nine-month grace period. The Direct loans have a six-month grace period.<br><br />

<b>Q: What happens to my loans if I take a leave of absence?</b><br>
    A: If you take a Leave of Absence, your loans may enter repayment. Contact the Financial Aid Office so that we may discuss your educational debt and help prepare you for repayment.<br><br />
</p>
-->
