@page "/posthome"

<PageTitle>PostHome</PageTitle>

<h3>Posts</h3>

@code {
    <!-- Need an object to hold questions in the data folder,               possibly referenced here for manipulation in the html-->
    
}
