@page "/posthome"
@using BucHelp.Data


<PageTitle>PostHome</PageTitle>


<!--
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Cards

<div class="control-section">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard">
                <CardHeader Title="Debunking Five Data Science Myths" />
                <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds" />
                <CardFooter>
                    <CardFooterContent>
                        <SfButton CssClass="e-btn e-outline e-primary">Read More</SfButton>
                    </CardFooterContent>
                </CardFooter>
            </SfCard>
        </div>

    </div>
</div>
-->

<h3>Posts</h3>

@if (questions == null)
{
    <p>No questions posted yet... </p>
}
else
{
    @foreach(var q in questions)
    {
        <p>@q.Title</p>
        <p style="margin-left: 25px;">@q.Description</p>
        <p style="margin-left: 25px;">@q.Answer</p>
    }
}

@code {
    <!-- Need an object to hold questions in the data folder, possibly referenced here for manipulation in the html-->
    private List<Question>? questions;

    QuestionObjService QuestionService = new QuestionObjService();  //necessary to get rid of a static object reference error on the GetPostedQuestionsAsync() method

    <!-- On page initialization asynchronously get the list of posted questions and save it to local variable questions-->
    protected override async Task OnInitializedAsync() 
    { 
        questions = await QuestionService.GetPostedQuestionsAsync(); 
    }

}
