@page "/questions"

<h3>Question</h3>
<input @bind="Question.QuestionMessage"/>

<p>Current Value: @Question.NewMessage</p>

<button class="btn btn-primary" @onclick="OnSubmit">Submit</button>

@code{
    public Question_Submit Question = new Question_Submit();

    public class Question_Submit
    {
        public string QuestionMessage { get; set; }
        public string NewMessage{ get; set; } //Debug

        public List<String> QuestionList = new List<String>();
    }

    protected void OnSubmit(MouseEventArgs mouseEventArgs)
    {
        Question.NewMessage = Question.QuestionMessage;
        Question.QuestionList.Add(Question.QuestionMessage);
    }

}