@page "/questions"
@using Data/User.cs

<h3>Question</h3>
<input @bind="user.Email"/>

<p>Current Value: @user.Email</p>

<button class="btn btn-primary" @onclick="OnSubmit">Submit</button>

@code{
    public User user = new User();


    protected void OnSubmit(MouseEventArgs mouseEventArgs)
    {
        this.user.setEmail(user.Email);
    }

}