<!--Page to display question along with answers to the question-->
<!--Parameter view page that will display the question title-->
@page "/QuestionView/{id}" 
@inject NavigationManager navman
@inject Question question
@using Data

<div class="card card-body" style="width: 60rem;">
    <p>@selected.Title</p>
    <p style="margin-left: 25px;">@selected.Description</p>
    <br/>
    <!--Each question will have a list of answers with it so the loop below grabs these-->
    @foreach(var answer in selected.GetAnswers())
    {
        @*<p style="margin-left: 25px;">@answer.Title</p>*@
        <p style="margin-left: 25px;">@answer.Description</p>
        <br/>
    }
</div>


@code{
    Question selected = new Question(); //need question object on page

    [Parameter]
    public string? id { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        // retrieve question by id
        int idAsInt;
        bool parse = int.TryParse(id, out idAsInt);
        if (!parse)
        {
            navman.NavigateTo("/");
            //throw new Exception("cannot parse id as string (replace this with a conditional 404 somehow)");
        }
        Question q = QuestionObjService.GetForID(idAsInt);
        if (q == null)
        {
            navman.NavigateTo("/");
            //throw new Exception("question does not exist for id (replace this with a conditional 404 somehow)");
        }
        selected = q;
    }

}


