@page "/questions"
@inject NavigationManager navigationManager
@inject Question questions
@using Data

<h3>Question</h3>
<div>
    <label for="qtitle">Title </label><br>
    <input @bind="question.Title" />
</div>
<br>
<div>
    <textarea name="qdescription" rows="10" cols="50" @bind="question.Description"></textarea>
</div>

<button class="btn btn-primary"  @onclick="OnSubmit">Submit</button>

@code{

    Question question = new Question();

    protected async void OnSubmit(MouseEventArgs mouseEventArgs)
    {
        this.question.Title = question.Title;
        this.question.Description = question.Description;

        //Logic for adding to storage goes here
        //Resource used to do this below 
        //https://stackoverflow.com/questions/67938642/blazor-server-how-to-persist-data-across-multiple-tabs-and-refreshes
        if(!string.IsNullOrWhiteSpace(question.Title) && !string.IsNullOrWhiteSpace(question.Description))
        {
            questions.QuestionsList.Add(question);
            navigationManager.NavigateTo("/posthome");
        }   
    }

}