@page "/updowntest"
@using Data

<h3>UpDownTest</h3>

@if (vote.GetVote() == 1)
{
    <button class="btn btn-primary" @onclick="OnUpDoot" disabled = "true">Up</button>
}
else
{
    <button class="btn btn-primary" @onclick="OnUpDoot">Up</button>
}

@if (vote.GetVote() == -1)
{
    <button class="btn btn-primary" @onclick="OnDownDoot" disabled = "true">Down</button>
}
else
{
    <button class="btn btn-primary" @onclick="OnDownDoot">Down</button>
}

<label for="qnumber">   votes</label>


@code {
    int votes = 0;
    string voteType;
    Vote vote = new Vote();


    private void PageLoad()
    {






    }

    private void VoteTypeQuestion()
    {
        voteType = "question";   
    }

    private void VoteTypeReply()
    {
        voteType = "reply";   
    }

    private void OnUpDoot()
    {
        vote.SelectVote(1, voteType);
        votes++;
        //PageLoad();
    }

    private void OnDownDoot()
    {
        vote.SelectVote(-1, voteType);
        votes--;
        //PageLoad();
    }
}
