@page "/updowntest"
@inject Question questions
@inject Vote vote
@using data

<h3>UpDownTest</h3>

@if (upVoted)
{
    <button class="btn btn-primary" @onclick="OnUpVote" disabled = "true">Up</button>
}
else
{
    <button class="btn btn-primary" @onclick="OnUpVote">Up</button>
}

@if (downVoted)
{
    <button class="btn btn-primary" @onclick="OnDownVote" disabled = "true">Down</button>
}
else
{
    <button class="btn btn-primary" @onclick="OnDownVote">Down</button>
}


@code {
    int votes = 0;
    int vote = 0;
    string voteType;


    private void PageLoad()
    {


      



    }

    private void VoteTypeQuestion()
    {
        voteType = "question";   
    }

    private void VoteTypeReply()
    {
        voteType = "reply";   
    }

    private void OnUpVote()
    {
        vote = 1;
        votes++;
        //PageLoad();
    }

    private void OnDownVote()
    {
        vote = -1;
        votes--;
        //PageLoad();
    }
}
